apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ printf "%s-%s" .Release.Name "bookstack" }}
  name: {{ printf "%s-%s" .Release.Name "bookstack" }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  strategy: 
    type: Recreate
  selector:
    matchLabels:
      app: {{ printf "%s-%s" .Release.Name "bookstack" }}
  template:
    metadata:
      labels:
        app: {{ printf "%s-%s" .Release.Name "bookstack" }}
    spec:
      initContainers:
      - image: busybox
        name: volume-init
        command:
          - sh
          - "-c"
          - "rm -rf /mnt/uploads/lost+found && chown -R www-data:www-data /mnt/uploads && rm -rf /mnt/storage/lost+found && chown -R www-data:www-data /mnt/storage"
        volumeMounts:
        - mountPath: /mnt/uploads
          name: bookstack-uploads
        - mountPath: /mnt/storage
          name: bookstack-storage
      - image: mysql:5.7
        name: bookstack-init
        command: 
          - bash
          - "-c"
          - "while ! mysqladmin ping --host={{ printf "%s-%s" .Release.Name "mysql" }} --password=secret; do sleep 5; done;"
      containers:
      - env:
        {{- $secret := .Values.existingSecret | default dict }}
        - name: APP_KEY
          {{- if $secret.name }}
          valueFrom:
            secretKeyRef:
              name: {{ $secret.name | quote }}
              key: {{ ($secret.appKeyKey | default "app-key") | quote }}
          {{- else }}
          value: {{ printf "%s" ( required "appKey is required" .Values.appKey ) | quote }}
          {{- end }}
        - name: APP_URL
          {{- if .Values.appUrl }}
          value: {{ .Values.appUrl | quote }}
          {{- else if .Values.appHost }}
          value: {{ printf "https://%s" .Values.appHost | quote }}
          {{- else }}
          value: "http://localhost:8080"
          {{- end }}
        - name: DB_HOST
          value: {{ printf "%s-%s:%s" .Release.Name "mysql" "3306" | quote }}
        - name: DB_DATABASE
          value: bookstack
        - name: DB_USERNAME
          value: bookstack
        - name: DB_PASSWORD
          value: secret
        - name: APP_VIEWS_BOOKS
          value: grid
        - name: SESSION_LIFETIME
          value: "1440"
        - name: SESSION_SECURE_COOKIE
          value: "true"
        - name: STORAGE_TYPE
          value: {{ default "local_secure" .Values.storageType | quote }}
          {{- if .Values.azuread }}
          {{- if .Values.azuread.enabled }}
        - name: AZURE_TENANT
          {{- if $secret.name }}
          valueFrom:
            secretKeyRef:
              name: {{ $secret.name | quote }}
              key: {{ ($secret.azureTenantIdKey | default "azure-tenant-id") | quote }}
          {{- else }}
          value: {{ required "azuread.tenantId is required" .Values.azuread.tenantId | quote }}
          {{- end }}
        - name: AZURE_APP_ID
          {{- if $secret.name }}
          valueFrom:
            secretKeyRef:
              name: {{ $secret.name | quote }}
              key: {{ ($secret.azureAppIdKey | default "azure-app-id") | quote }}
          {{- else }}
          value: {{ required "azuread.appId is required" .Values.azuread.appId | quote }}
          {{- end }}
        - name: AZURE_APP_SECRET
          {{- if $secret.name }}
          valueFrom:
            secretKeyRef:
              name: {{ $secret.name | quote }}
              key: {{ ($secret.azureAppSecretKey | default "azure-app-secret") | quote }}
          {{- else }}
          value: {{ required "azuread.appSecret is required" .Values.azuread.appSecret | quote }}
          {{- end }}
        - name: AZURE_AUTO_REGISTER
          value: "true"
        - name: AZURE_AUTO_CONFIRM_EMAIL
          value: "true"
          {{- end }}
          {{- end }}
          {{- if .Values.smtp }}
          {{- if .Values.smtp.enabled }}
        - name: MAIL_HOST
          value: {{ required "smtp.host is required" .Values.smtp.host | quote }}
        - name: MAIL_PORT
          value: {{ required "smtp.port is required" .Values.smtp.port | quote }}
        - name: MAIL_USERNAME
          value: {{ required "smtp.username is required" .Values.smtp.username | quote }}
        - name: MAIL_PASSWORD
          {{- if $secret.name }}
          valueFrom:
            secretKeyRef:
              name: {{ $secret.name | quote }}
              key: {{ ($secret.smtpPasswordKey | default "smtp-password") | quote }}
          {{- else }}
          value: {{ required "smtp.password is required" .Values.smtp.password | quote }}
          {{- end }}
        - name: MAIL_FROM
          value: {{ required "smtp.fromAddress is required" .Values.smtp.fromAddress | quote }}
        - name: MAIL_FROM_NAME
          value: {{ required "smtp.fromName is required" .Values.smtp.fromName | quote }}
        - name: MAIL_ENCRYPTION
          value: "tls"
          {{- end }}
          {{- end }}
        image: solidnerd/bookstack:25.12
        name: bookstack
        ports:
        - containerPort: 8080
          name: bookstack
          protocol: TCP
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
        volumeMounts:
        - mountPath: /var/www/bookstack/public/uploads
          name: bookstack-uploads
        - mountPath: /var/www/bookstack/storage/uploads
          name: bookstack-storage
      volumes:
      - name: bookstack-uploads
        persistentVolumeClaim:
          claimName: {{ printf "%s-%s" .Release.Name "uploads" }}
      - name: bookstack-storage
        persistentVolumeClaim:
          claimName: {{ printf "%s-%s" .Release.Name "storage" }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ printf "%s-%s" .Release.Name "bookstack" }}
  name: {{ printf "%s-%s" .Release.Name "bookstack" }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: {{ printf "%s-%s" .Release.Name "bookstack" }}
  type: ClusterIP
